{% extends 'base_hr1.html' %}


{% load static %}

{% block contentmain %}

<nav class="navbar navbar-inverse navcolor">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcocme</a>
    </div>
    <ul>
      <li  class="inlin"><a  href="/post_new/">Add New</a></li>
      <li  class="inlin"><a  href="/">Return Home</a></li>
     <li class="inlin"><a href="{% url 'auth_logout' %}">Signout</a></li>
    </ul>
  </div>
</nav>

 
    <div>
        <h1>PLEASE SELECT THE EMPLOYEE </h1>
        <table class = "table whiteb">


		<tr><th>Employee Name</th><th> ID</th><!--<th>Address</th><th>Phone</th><th>Joining Date</th>--></tr>
        {% for post in posts %}
              
      <tr><th><a href="{% url 'post_detail_atten' pk=post.pk %}">{{ post.user }}</a></th><th> {{post.pk}}</th></tr><!--<td>{{post.address}}</td><td>{{post.phone_number}}</td><td>{{post.joindate}}--></td><tr>
        
       {% endfor %}
        </table>	
    </div>

{% endblock %}
